body{
    margin: 0px;
}
.top-section{
    background-image: url("./Images/Banner.jpg");
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container{
    background-color: #666;
    height: 80px;
    opacity: .3;
    position: fixed;
    width: 100%;
}
.header-inner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 850px;
    margin-left: 200px;
    height: 80px;
}
.header-options{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Open Sans", Arial, sans-serif;
}
.top-lower-section-container{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background-image: url("./Images/Thancos-Web-bg.jpg");
    width: 100%;
    height: 850px;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    margin-bottom: 140px;
}
.top-lower-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    font-family: 'Satisfy', cursive;
}
.top-lower-section-left{
    width: 300px;
    color: white;
    font-size: large;
    font-weight: 500;
    line-height: 2;
    /* margin-top: 20px; */
    margin-bottom: 90px;
}
.top-lower-section-right{
    width: 300px;
    color: white;
    font-weight: 500;
    line-height: 2;
    font-size: large;
    margin-top: 100px;
}
.top-lower-section-heading{
    display: flex;
    justify-content: center;
    color: #a50018;
    height: 50px;

}   
.top-lower-section-content>img{
    height: 130px;
    margin-left: 90px;
    /* position: relative;
    left: 80px; */
}
.top-lower-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5px;
}
.about-main-section{
    height: 750px;
    /* background: linear-gradient(rgb(113, 206, 126) ,rgb(202, 248, 128),rgb(243, 255, 182), rgb(202, 248, 128),rgb(113, 206, 126)); */
    background: url("./Images/Thancos-Web-Flav-bg.jpg");
    background-position: center;
    background-size: cover;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 130px;
    font-family: 'Satisfy', cursive;
    width: 1000px;
    line-height: 2;
}
.about-left-section{
    color: white;
    width: 280px;
    height: 600px;
    text-align: justify;
    background: url("./Images/Flavours.png");
    background-position: center;
    background-size: cover;
    padding: 6px;
}
.about-left-section>h4, .about-right-section>h4 ,.about-middle-section>h4{
    text-align: center;
    margin-top: 70px;
}
.about-middle-section{
    color: white;
    width:280px;
    height: 600px;
    text-align: justify;
    background: url("./Images/Stores.png");
    background-position: center;
    background-size: cover;
    padding: 6px;

}
.about-right-section{
    width: 280px;
    color: white;
   background: url("./Images/Franchise.png");
   background-position: center;
   background-size: cover;
    height: 600px;
    text-align: justify;
    padding: 6px;

}